/*
box-shadow: 
	inset
	отступ по ширине - left
	отступ по высоте - top
	размытие тени -
	изменение размеров тени 
	цвет
line-height размер строки текста.
text-indent - отступ первого символа абзаца.
text-decoration - линия текста
	overline - линия над текстом
	line-throw - перечеркнутый тест
	underline  подчеркивание
letter-spacing - растояние между символами
word-spacing - размер пробела
text-transform - 
	uppercase - все символи делаются большими
    lowercase все символы делаються маленькими 
 	capitalise - первая буква после пробела большая
 white-space - 
 	normal - все пробелы сливаются в один
 	nowrap - тоже самое но без переноса текста. текст вызалит за ширину родителя
 	pre - все пробелы учтываются, переноса нет
 	pre-wrap - пробелы учитываются и есть переносы
*/
#wrapper {
	width: 1200px;
	margin: auto;
}
#header {
	width: 1200px;
	height: 471px;
	background-color: rgb(105,210,231);
	position: relative;
	/*margin: auto;*/
}
p {
	font-family: 'Open Sans';
}
h1 {
	font-family: 'Open Sans';
}
* {
	margin: 0px;
	padding: 0px;
}
.header_block1 {
	position: absolute;
	top: 33px;
	left: 100px;
}
.logo_square {
	/*width: 50px;
	height: 50px;
	background-color: rgb(250,100,0);*/
	position: absolute;
}
.header_block1pkus {
	text-transform: uppercase;
	position: absolute;
	font-size: 57px;
	color: rgb(255,255,255);
	font-weight: 700;
	left: 8px;
	top: -13px;
}
.logo_text1 {
	position: absolute;
	width: 169px;
	left: 60px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-weight: 700;
}
.logo_text2 {
	position: absolute;;
	left: 60px;
	top: 28px;
	width: 155px;
	font-size: 17px;
	font-family: 'Open Sans';
}
.header_block2 {
	position: absolute;
	top: 32px;
	right: 109px;
	border: 2px solid white;
	border-radius: 50px;
	width: 39px;
	height: 39px;
}
.fa-bars {
	font-size: 25px;
	color: white;
	position: absolute;
	right: 9px;
	top: 9px;
}
.header_block3 {
	position: absolute;
	width: 300px;
	height: 100px;
	left: 448px;
	top: 181px;
}
.header_h1 {
	font-size: 80px;
	color: rgb(240,240,240);
	position: absolute;
	top: -23px;
	left: 19px;
	letter-spacing: 2px;
}
.header3_text {
	font-size: 33px;
	position: absolute;
	font-family: "Open Sans";
	text-transform: uppercase;
	left: -26px;
	top: 67px;
	width: 357px;
	color: rgb(240,240,240);
}
#content {
	width: 1200px;
	height: 532px;
	background-color: rgb(235,235,235);
	/*margin: auto;*/
	position: relative;
}
.content_block1 {
	position: absolute;
	width: 834px;
	height: 286px;
	left: 182px;
	bottom: 344px;
	background-color: rgb(250,250,250);
	border: 2px solid rgb(190,190,190);
	border-radius: 9px;
}
.aboutus {
	position: absolute;
	top: 5px;
	left: 326px;	
	font-size: 36px;
	padding-bottom: 10px;
	padding-top: 30px;
}
hr {
	position: absolute;
	top: 99px;
	left: 226px;
	width: 381px;
	height: 3px;
	margin: auto;
}
.content_block1_text {
	font-size: 22px;
	position: absolute;
	width: 737px;
	font-weight: 300;
	left: 32px;
	top: 126px;
	line-height: 34px;
	background-color: rgb(250,250,250);
	/*padding: 10px 30px 70px;*/
}
.content_block2 {
	position: absolute;
	left: 177px;
	bottom: 32px;
	width: 170px;
	height: 223px;
}
.cb2_image {
	position: absolute;
	left: 42px;
	top: 15px;
}
.cb2_text {
	font-size: 24px;
	font-family: "Open Sans";
	font-weight: 400;
	position: absolute;
	bottom: 5px;
	left: -20px;
	width: 216px;
	line-height: 30px;


}
.content_block3 {
	position: absolute;
	bottom: 27px;
	left: 487px;
	width: 235px;
	height: 255px;
}
.cb3_div {
	position: absolute;
	left: 33px;
	width: 162px;
	height: 162px;
	border-radius: 9px;
	background-color: rgb(105,210,231);
}
.cb3_image {
	position: absolute;
	top: 45px;
	left: 35px;
}
.cb3_text {
	position: absolute;
	bottom: 6px;
	font-size: 24px;
	left: 6px;
	width: 216px;
}
.content_block4 {
	position: absolute;
	right: 181px;
	bottom: 30px;
	width: 171px;
	height: 258px; 
}
.cb4_image {
	position: absolute;
	left: 48px;
	top: 42px;
}
.cb4_text {
	position: absolute;
	bottom: 3px;
	left: -20px;
	font-size: 24px;
	width: 215px;
}
#content2 {
	position: relative;
	width: 1200px;
	height: 472px;
	/*margin: auto;*/
	background-color: rgb(255,100, 0);
}
.content2_block1 {
	position: absolute;
	top: 35px;
	left: 229px;
	width: 744px;
	height: 76px;
}
.cb21_text {
	font-family: "Open Sans";
	font-size: 22px;
	position: absolute;
	top: 1px;
	line-height: 34px;
	color: rgb(240,240,240);
	left: 16px;
	width: 750px;
}
.screen {
	width: 909px;
	height: 289px;
	position: absolute;
	left: 158px;
	bottom: 31px;
	border-radius: 5px;
}
.switch {
	height: 29px;
	width: 100%;
}
.switch1 {
	width: 444px;
	height: 29px;
	background-color: rgba(83,90,108, 0.3);
	border-top-left-radius: 8px;
}
.switch2 {
	width: 444px;
	height: 29px;
	position: absolute;
	top: 0px;
	left: 464px;
	background-color: rgba(83,90,108, 0.3);
	border-top-right-radius: 8px;
}
.switch3 {
	width: 444px;
	height: 29px;
	position: absolute;
	top: 0px;
	left: 227px;
	background-color: rgb(83,90,108);
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.url1 {
	width: 386px;
	height: 13px;
	position: absolute;
	top: 8px;
	left: 48px;
	background-color: rgba(255,255,255, 0.3);
	border-radius: 8px;

}
.url2 {
	width: 386px;
	height: 13px;
	position: absolute;
	top: 8px;
	right: 10px;
	background-color: rgba(255,255,255, 0.3);
	border-radius: 8px;
}
.url3 {
	width: 386px;
	height: 13px;
	position: absolute;
	top: 8px;
	right: 10px;
	background-color: rgb(255,255,255);
	border-radius: 8px;
}
.fa-search {
	font-size: 8px;
	position: absolute;
	right: 14px;
	top: 10px;
}
.div_circle {
	width: 36px;
	height: 15px;
	position: absolute;
	top: 4px;
	left: 8px;
}
.fa-circle {
	font-size: 9px;
	color: white;
}
.browser {
	width: 100%;
	height: 269px;
}
.browser1 {
	position: absolute;
	top: 29px;
	left: 0px;
	width: 444px;
	height: 260px;
	background-color: rgba(250,250,250, 0.3);
	border-bottom-left-radius: 8px;
}
.browser2 {
	position: absolute;
	top: 29px;
	left: 464px;
	width: 444px;
	height: 260px;
	background-color: rgba(250,250,250, 0.3);
	border-bottom-right-radius: 8px;
}
.browser3 {
	position: absolute;
	top: 29px;
	left: 226px;
	width: 444px;
	height: 260px;
	background-color: rgb(255,255,255);
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 0 0 43px 0px;
}
.fa-chevron-circle-left {
	font-size: 29px;
	position: absolute;
	top: 121px;
	left: 18px;
}
.fa-chevron-circle-right {
	font-size: 29px;
	position: absolute;
	top: 121px;
	right: 18px;
}
#content3 {
	width: 1200px;
	height: 532px;
	background-color: rgb(235,235,235);
	/*margin: auto;*/
	position: relative;
}
.cb3_image_container {
	width: 178px;
	height: 178px;
	position: absolute;
	top: 48px;
	left: 512px;
	border-radius: 100px;
	background-color: rgb(255,255,255);
}
.cb31_image {
	position: absolute;
	top: 45px;
	left: 44px;
}
.cb3_text1 {
	width: 227px;
	height: 100px;
	position: absolute;
	top: 250px;
	left: 502px;
}
.cb3_h1 {
	font-family: 'Open Sans';
	width: 284px;
	font-size: 26px;
}
.cb3_p1 {
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 300;
	position: absolute;
	top: 32px;
	left: 10px;
}
.cb3_text2 {
	height: 63px;
	width: 667px;
	position: absolute;
	top: 340px;
	left: 267px;
}
.cb3_p2 {
	font-family: 'Open Sans';
	text-align: justify;
	font-size: 16px;
	letter-spacing: -0.5px;
}
.cb3_button1 {
	width: 22px;
	height: 22px;
	position: absolute;
	right: 544px;
	bottom: 32px;
}
.cb3_button3 {
	width: 22px;
	height: 22px;
	position: absolute;
	right: 586px;
	bottom: 32px;

}
.fa-circle-thin {
	font-size: 22px;
}
/*.fa-circle_cb3 {
	color: rgb(105,210,231);
	font-size: 16px;
}*/
.cb3_button2 {
	position: absolute;
	left: 548px;
	bottom: 32px;
	width: 22px;
	height: 22px;
}
.cb3_button2_circle {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: 1px solid white;
	background-color: aqua;
}
#content4 {
	position: relative;
	width: 1200px;
	height: 532px;
	/*margin: auto;*/
	background-color: rgb(255,100, 0);
	overflow: hidden;
}
.cb4_text1 {
	position: absolute;
	top: 133px;
	left: 100px;
	font-size: 26px;
	font-weight: 700;
	color: white;
}
.cb4_text1-1 {
	position: absolute;
	top: 164px;
	left: 100px;
	font-size: 21px;
	font-weight: 300;
	color: white;
}
.cb4_text2 {
	color: white;
	font-size: 16px;
	position: absolute;
	left: 100px;
	top: 235px;
	width: 500px;
}
.cb4_block1 {
	position: absolute;
	top: -183px;
	right: -386px;
	width: 1004px;
	height: 877px;
	background-color: rgb(255,255,255);
	/*border-radius: 254px 0px 0px 390px;*/
	border-radius: 494px;
}