main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

section {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20px;
}

/*****Logo****/

.logo {
	width: 368px;
	height: 204px;
	background-image: url("../img/borodinski-logo.png");
	margin: 60px 0 20px 0;
}

/****Tagline****/

.tagline {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.tagline__item {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	color: rgb(247,244,241);
}

.tagline__item-block1 {
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;
	margin-bottom: 17px;
}

.tagline__item-block2 {
	width: 28px;
	height: 28px;
	background-image: url("../img/tagline.png");
	margin-bottom: 31px;
}

.tagline__item-block3 {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px; 
	text-align: center;
	margin-bottom: 85px;
}

/****article****/

.article {
	width: 100%;
	height: 419px;
	display: flex;
	background-image: url("../img/article-background.png");
	margin-bottom: 35px;
	box-sizing: border-box;
	padding: 40px 50px;
	color: rgb(0,0,0);
}

.article__line {
	margin: 50px 87px 0 33px;
}

/****article-left****/

.article__left {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article__heading {
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;
}

.article__paragraph {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

.article__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 44px;
	background-color: rgb(0,0,0);
}

.article__button a {
	text-decoration: none;
	color: rgb(255,255,255);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

.article__button:hover {
	opacity: 0.5;
}

/****article-right****/

.article__right {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article__img {
	width: 300px;
	height: 178px;
	box-sizing: border-box;
	padding: 7px;
}

.article__button-box {
	display: flex;
}

.article__button-box .article__button:first-child {
	margin-right: 20px;
}

.article__form {
	width: 300px;
	height: 169px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.article__form input {
	width: 140px;
	height: 43px;
	background-color: rgb(249,246,243);
	border: 2px solid  rgb(0,0,1);
	text-indent: 17px;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

::-webkit-input-placeholder {
	color: rgb(0,0,0);
}

 .article__form .article__form-button {
	width: 300px;
	height: 43px;
	text-indent: 0;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	cursor: pointer;
}

.article__form .article__form-button:hover {
	opacity: 0.5;
}