@import "../block/index"
@font-face
	font-family Rockwell
	src url(./../fonts/Rockwell.TTF)

body
	font-family: Rockwell
	font-size: 12px
	color: #343433
	margin: 0
	padding: 0

.wrapper
	max-width: 1024px
	background-image: url(../img/bg.png)
	background-repeat: no-repeat
	margin: 0 auto
	padding: 44px 48px 118px
	box-sizing: border-box

@media (max-width 992px)
	.wrapper
		background-size: 100% 100%
		padding: 44px 10px 20px