#header {
	width: 76%;
	height: 450px;
	background-color: rgb(105,210,231);
	margin: auto;
}
p {
	font-family: 'Open Sans';
}
* {
	margin: 0px;
	padding: 0px;
}
.header_block1 {
	position: absolute;
	top: 50px;
	left: 420px;
}
.logo_square {
	width: 50px;
	height: 50px;
	background-color: rgb(250,100,0);
	position: absolute;
}
.logo_text1 {
	position: absolute;
	left: 60px;
}
.logo_text2 {
	position: absolute;
	left: 60px;
	top: 33px;
	width: 150px;
}
.header_block2 {
	position: absolute;
	top: 55px;
	right: 400px;
	border: 2px solid white;
	border-radius: 50px;
	width: 40px;
	height: 40px;
}
.fa-bars {
	font-size: 25px;
	color: white;
	position: absolute;
	right: 9px;
	top: 9px;
}
.header_block3 {
	position: absolute;
	width: 26%;
	left: 38%;
	top: 160px;
}
.header_h1 {
	font-size: 60px;
	text-align: center;
	color: rgb(240,240,240);
}
.header3_text {
	font-size: 40px;
	position: absolute;
	left: 58px;
	color: rgb(240,240,240);
}
#content {
	width: 76%;
	height: 450px;
	background-color: rgb(235,235,235);
	margin: auto;
	position: relative;
}
.content_block1 {
	position: absolute;
	width: 860px;
	left: 280px;
	bottom: 280px;
	background-color: rgb(250,250,250);
	border: 2px solid rgb(190,190,190);
	border-radius: 9px;
}
.aboutus {
	text-align: center;	
	font-size: 40px;
	padding-bottom: 10px;
	padding-top: 30px;
}
hr {
	width: 400px;
	height: 3px;
	margin: auto;
}
.content_block1_text {
	font-size: 25px;
	text-align: justify;
	background-color: rgb(250,250,250);
	padding: 10px 30px 70px;
}
.content_block2 {
	position: absolute;
	left: 230px;
	bottom: 10px;
	width: 170px;
	height: 170px;
}
.cb2_image {
	position: absolute;
	left: 42px;
	top: 15px;
}
.cb2_text {
	font-size: 22px;
	text-align: center;
	position: absolute;
	bottom: 8px;

}
.content_block3 {
	position: absolute;
	bottom: 10px;
	left: 561px;
	width: 235px;
	height: 230px;
}
.cb3_div {
	position: absolute;
	left: 43px;
	width: 149px;
	height: 149px;
	border-radius: 9px;
	background-color: rgb(105,210,231);
}
.cb3_image {
	position: absolute;
	top: 36px;
	left: 28px;
}
.cb3_text {
	position: absolute;
	bottom: 10px;
	font-size: 22px;
	left: 6px;
}
.content_block4 {
	position: absolute;
	right: 268px;
	bottom: 10px;
	width: 171px;
	height: 171px; 
}
.cb4_image {
	position: absolute;
	left: 44px;
	top: 10px;
}
.cb4_text {
	position: absolute;
	bottom: 8px;
	left: 18px;
	font-size: 22px;
}
#content2 {
	position: relative;
	width: 76%;
	height: 450px;
	margin: auto;
	background-color: rgb(255,100, 0);
}
.content2_block1 {
	position: absolute;
	top: 50px;
	left: 340px;
	width: 750px;
	height: 65px;
}
.cb21_text {
	font-size: 25px;
	position: absolute;
	color: rgb(240,240,240);
	left: 16px;
}
.screen {
	width: 888px;
	height: 289px;
	position: absolute;
	left: 260px;
	bottom: 30px;
	border-radius: 5px;
}
.switch {
	height: 29px;
	width: 100%;
}
.switch1 {
	width: 444px;
	height: 29px;
	background-color: rgba(83,90,108, 0.3);
	border-top-left-radius: 8px;
}
.switch2 {
	width: 444px;
	height: 29px;
	position: absolute;
	top: 0px;
	left: 444px;
	background-color: rgba(83,90,108, 0.3);
	border-top-right-radius: 8px;
}
.switch3 {
	width: 444px;
	height: 29px;
	position: absolute;
	top: 0px;
	left: 222px;
	background-color: rgb(83,90,108);
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
.url1 {
	width: 386px;
	height: 13px;
	position: absolute;
	top: 8px;
	left: 48px;
	background-color: rgba(255,255,255, 0.3);
	border-radius: 8px;

}
.url2 {
	width: 386px;
	height: 13px;
	position: absolute;
	top: 8px;
	right: 10px;
	background-color: rgba(255,255,255, 0.3);
	border-radius: 8px;
}
.url3 {
	width: 386px;
	height: 13px;
	position: absolute;
	top: 8px;
	right: 10px;
	background-color: rgb(255,255,255);
	border-radius: 8px;
}
.fa-search {
	font-size: 8px;
	position: absolute;
	right: 14px;
	top: 10px;
}
.div_circle {
	width: 36px;
	height: 15px;
	position: absolute;
	top: 4px;
	left: 8px;
}
.fa-circle {
	font-size: 9px;
	color: white;
}
.browser {
	width: 100%;
	height: 269px;
}
.browser1 {
	position: absolute;
	top: 29px;
	left: 0px;
	width: 444px;
	height: 260px;
	background-color: rgba(250,250,250, 0.3);
	border-bottom-left-radius: 8px;
}
.browser2 {
	position: absolute;
	top: 29px;
	left: 444px;
	width: 444px;
	height: 260px;
	background-color: rgba(250,250,250, 0.3);
	border-bottom-right-radius: 8px;
}
.browser3 {
	position: absolute;
	top: 29px;
	left: 222px;
	width: 444px;
	height: 260px;
	background-color: rgb(255,255,255);
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.fa-chevron-circle-left {
	font-size: 29px;
	position: absolute;
	top: 121px;
	left: 18px;
}
.fa-chevron-circle-right {
	font-size: 29px;
	position: absolute;
	top: 121px;
	right: 18px;
}
#content3 {
	width: 76%;
	height: 450px;
	background-color: rgb(235,235,235);
	margin: auto;
	position: relative;
}
.cb3_image_container {
	width: 178px;
	height: 178px;
	position: absolute;
	top: 25px;
	left: 650px;
}
.cb3_image {
	position: absolute;
	top: 43px;
	left: 45px;
}
.cb3_text1 {
	width: 227px;
	height: 100px;
	position: absolute;
	top: 200px;
	left: 635px;
}
.cb3_p1 {
	font-size: 27px;
	font-family: 'Open Sans';
}
.cb3_text2 {
	height: 100px;
	width: 600px;
	position: absolute;
	top: 300px;
	left: 425px;
}
.cb3_p2 {
	font-family: 'Open Sans';
	text-align: justify;
}
.cb3_button1 {
/*	width: 18px;
	height: 18px;*/
	position: absolute;
	right: 680px;
	bottom: 25px;
}
/*.fa-circle_cb3 {
	color: rgb(105,210,231);
	font-size: 16px;
}*/
.cb3_button2 {
	position: absolute;
	left: 696px;
	bottom: 25px;
	width: 18px;
	height: 18px;
}
.cb3_button2_circle {
	width: 17px;
	height: 17px;
	border-radius: 50px;
	border: 1px solid white;
	background-color: aqua;
}
#content4 {
	position: relative;
	width: 76%;
	height: 450px;
	margin: auto;
	background-color: rgb(255,100, 0);
}
.cb4_text1 {
	position: absolute;
	top: 120px;
	left: 100px;
	font-size: 20px;
	color: white;
}
.cb4_text2 {
	color: white;
	font-size: 15px;
	position: absolute;
	left: 100px;
	top: 220px;
	width: 500px;
}
.cb4_block1 {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 714px;
	height: 100%;
	background-color: rgb(255,255,255);
	border-radius: 250px 0px 0px 250px;
}