div {
	width: 100px;
	height: 100px;
	background-color: black;
	margin-top: 10px;
}

.class1 {
	background-color: gold;
}

.class2 {
	width: 200px !important;
}

#myid1 {
	background-color: red;
}

* {
	background-color: green;
}

a:visited {
	color: orange;
}

[href="1"] {
	color: pink;
}

.class1.class2 {
	height: 150px;
}

.class1.class2 {
	height: 200px;
}