doctype html
html
head
	link(rel='stylesheet' href='style/main.css')
body
	div.wrapper
		div.block1
			div.block1__header
				div.header_logo
					img.header_img(src='img/forma-1.png')
					div.header_text-box
						h3 COMPANY NAME
						p Tag Line Goes Here
				div.header_bar
					hr.bar_line
					hr.bar_line
					hr.bar_line
			div.block1_text-box
				h1 HELLO
				p WE ARE ONLINE CLINIC
			div.block1__about-us
				h1 ABOUT US
				hr
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		div.block2
			div.block2__advantages
				div.block2__icon-box
					div.block2__icon
						img(src='img/shape-1.png')
					p Lorem ipsum dolor sit amet
				div.block2__icon-box
					div.block2__icon.colour.block2__icon_col
						img(src='img/shape-2.png')
					p Lorem ipsum dolor sit amet
				div.block2__icon-box
					div.block2__icon
						img(src='img/shape-3.png')
					p Lorem ipsum dolor sit amet

