.about
	padding: 10px
	display: flex
	background-color: #fff
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.75)
	margin-bottom: 15px

	&__box-img
		width: 216px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-content: space-between
		margin-right: 15px
	&__img
		width: 104px
		height: 79px

	&__box-text
		width: 670px
		display: flex
		flex-direction: column
	&__title
		margin 0 0 10px
		font-size: 18px
	&__text
		margin-bottom: 30px
		text-indent: 2em
		text-align: justify
	&__link
		align-self: flex-end
		&:active
		&:hover
		&:visited
		&:link
			color: #000