include ../node_modules/bemto.pug/bemto.pug
include block/index

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="css/style.css")
		title Document
	body
		.wrapper
			+b.HEADER.header
				+b-nav(nav, "_header")
			//
				+b.NAV.nav(class="_header")
					+e.UL.menu
						+e.LI.item
							+e.A.link(href="#") Menu
							+e.UL.menu
								+e.LI.item 
									+e.A.link(href="#") Lorem, ipsum 1.
								+e.LI.item 
									+e.A.link(href="#") Lorem, ipsum 2.
								+e.LI.item 
									+e.A.link(href="#") Lorem, ipsum 3.

									+e.UL.menu
										+e.LI.item 
											+e.A.link(href="#") Lorem, ipsum 31.
										+e.LI.item 
											+e.A.link(href="#") Lorem, ipsum 32.
										+e.LI.item 
											+e.A.link(href="#") Lorem, ipsum 33.

											+e.UL.menu
												+e.LI.item 
													+e.A.link(href="#") Lorem, ipsum 21.
												+e.LI.item 
													+e.A.link(href="#") Lorem, ipsum 22.
												+e.LI.item 
													+e.A.link(href="#") Lorem, ipsum 23.


						+e.LI.item
							+e.A.link(href="#") Blog
						+e.LI.item
							+e.A.link(href="#") Forumnp
						+e.LI.item
							+e.A.link(href="#") About Us
							+e.UL.menu
								+e.LI.item 
									+e.A.link(href="#") Lorem, ipsum 1.
								+e.LI.item 
									+e.A.link(href="#") Lorem, ipsum 2.
								+e.LI.item 
									+e.A.link(href="#") Lorem, ipsum 3.

