doctype html
html
	head
		link(rel='stylesheet' href='style/style.css')
	body
		div(class='content')
			div(class='wrapper')
				block varContent
					a(href='page1.html') 
						button Click Me
					a(href='page2.html')
						button Click Me
					a(href='page3.html')
						button Click Me
					a(href='page4.html')
						button Click Me
					