extends index
block varContent
		img(src='img/priroda.jpg')
		div(class='text') Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor labore saepe odit rem repudiandae, vero maiores eveniet voluptatem quod culpa.
		a(href='/') Home