.table
	border-collapse: collapse
	width: 1500px
	margin 0 auto
	&__row
		&_1
			height: 500px
			.table__cell:nth-child(2)
				background: #7acec3
		.table__cell-header
			&_1
				width: 350px
			&_2
				width: 115px
			&_3
				width: 270px
			&_4
				width: 300px
			&_5
				width: 465px
