.box-text
	width: 670px
	display: flex
	flex-direction: column
	&__title
		margin 0 0 10px
		font-size: 18px
	&__text
		margin-bottom: 30px
		text-indent: 2em
		text-align: justify
	&__link
		align-self: flex-end
		&:active
		&:hover
		&:visited
		&:link
			color: #000