extends template
block content
	.page
		.list
			each v, i in items
				if v.id == 1
					.list__item
						.img-box
							img.list__img(src=v.img, alt="")
						span.list__name= v.name
						span.list__desc= v.desc
						span.list__price= v.price
						a(href= v.id + '.html' )
							button Buy