.footer {
	width: 929px;
	height: 55px;
	background-color: rgb(255,255,255);
	display: flex;
	align-items: center;
	padding-left: 22px;
	box-sizing: border-box;
}

.footer__text {
	width: 500px;
	height: 13px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	color: rgb(84,84,84); 
}