
.inside {
	position: absolute;
	width: 500px;
	height: 300px;
	background-color: aqua;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -250px; 
}

.logo {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: white;
}

.item {
	position: absolute;
	width: 80px;
	height: 40px;
	background-color: gray;
	top: 150px;
}

.item_1 {
	left: 50px;
}

.item_2 {
	left: 180px;
}

.item_3 {
	left: 310px;
}