extends template
block content
	header.header
		.logo
			.logo__icon_box
				i.logo__icon.fi-plus
			.logo__text_box
				.logo__text_1 COMPANY NAME
				.logo__text_2 Tag Line Goes Here
		h1.title-page
			.title-page_1 HELLO 
			.title-page_2 WE ARE ONLINE CLINIC
		.nav-btn.fi-list
	main.main
		.about
			.about__box
				h2.about__title ABOUT US
				p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			.advantages
				.advantages__item.advantages__item_1
					img(src="img/advantages-1.png").advantages__img
					.advantages__text Lorem ipsum dolor sit amet
				.advantages__item.advantages__item_2
					img(src="img/advantages-2.png").advantages__img
					.advantages__text Lorem ipsum dolor sit amet
				.advantages__item.advantages__item_3
					img(src="img/advantages-3.png").advantages__img
					.advantages__text Lorem ipsum dolor sit amet