* {
	margin: 0;
	padding: 0;
}
.block {
	width: 1200px;
	height: 600px;
	background-color: aqua;
}
.block__logo {
	height: 100px;
	width: 100px;
	background-color: white; 
}
.block__element {
	width: 100px;
	height: 50px;
	background-color: grey;
	position: absolute;
	top: 150px;

}
.block__element_left40px {
	left: 40px;
}
.block__element_left160px {
	left: 160px;
}
.block__element_left280px {
	left: 280px;
}