extends template.jade
include includes/header.jade
	header
		append headerBlock
				each v in items
					if v.id == '3' 
						p.item-name=v.me
						p.item-desc=v.desc
						p.item-price=v.price
block contentJade
	.item-container
		each v in items
			if v.id == '1'
				include includes/uniq-page.jade